@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

html, body {
    height: 100%;
}

body > #root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    width: 100%;
    max-width: 1020px;
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 0px;
    font-family: inherit;
}

.searchBar {
    width: 200px;
    height: auto;
    min-height: 31px;
    position: relative;
    overflow: hidden;

    & > .input_form {
        position: absolute;
        padding: 6px 0px 6px 34px;
        width: 198px;
        border-radius: 4px;
        border: 1px solid #b1b1b1;
        font-family: inherit;
    }

    & > .icon_search {
        position: absolute;
        width: 18px;
        top: 6px;
        left: 9px;  
    }
}

.main_container {
    width: 100%;
    padding: 10px 0px;
    max-width: 1020px;
    height: 100%;
    overflow: visible;
    background: transparent;
    font-family: inherit;

    & > .failed_container {
        width: 100%;
        height: 100%;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: inherit;
    }

    & > .total_wapper {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(249px, 1fr));
        grid-template-rows: 227px;
        grid-auto-rows: 227px;
        overflow: hidden;
        margin-top: 10px;

        & > .main_elements {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border-radius: 6px;
            box-shadow: 0px 0px 8px 0px #9e9b9b;
            cursor: pointer;

            & > .img_rate {
                width: 100%;
                position: relative;
                height: 82%;
                overflow: hidden;

                & > span {
                    position: absolute;
                    top: 10px;
                    left: 15px;
                    z-index: 100;
                    background: #fff;
                    border-radius: 50%;
                    border: 1px solid;
                    padding: 5px;
                }

                & > img {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    left: 0;
                    z-index: 85;
                    height: auto;
                }
            }

            & > .movie_title {
                font-family: inherit;
                font-weight: 500;
                margin-bottom: 9px;
                font-size: 16px;
            }
        }
    }
}

.title_recents {
    font-family: inherit;
    color: black;
}

.details_component {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000000d1;


    & > .clickAble_component {
        width: 70%;
        height: auto;
        background-color: #fff;
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        & > .left_bar {
            width: 45%;
            height: 100%;
            overflow: hidden;

            & > h3 {
                font-family: inherit;
                color: black;
                margin-bottom: 20px;
                font-size: 21px;
            }

            & > img {
                width: 100%;
                height: auto;
            }
        }

        & > .right_bar {
            width: 45%;
            height: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            & > img {
                cursor: pointer;
            }

            & > .single {
                width: 100%;
                height: auto;

                & > .release {
                    font-family: inherit;
                    margin-bottom: 10px;
                    margin-top: 16px;
                }

                & > .votes {
                    margin-top: 16px;
                }
            }
        }
    }
}